<div class="container">
    <h1 class="text-center display-6">{{ contact?.firstname }} {{ contact?.lastname }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Telephone</th>
                <th>Contact Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ contact?.email }}</td>
                <td>{{ contact?.dob }}</td>
                <td>{{ contact?.telephone }}</td>
                <td>{{ contact?.contact_type }}</td>
            </tr>
        </tbody>
    </table>
</div>